# ReactScripts
build/

# Env Files
.env
.env.*
!.env.sample

# Local Netlify folder
.netlify

# NodeJS
node_modules

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace